<div ng-app="app">
  <div ng-controller="todoCtrl">
  <h1>Things Have To be Done</h1>
  <ul>
    <li ng-repeat="task in tasks">
    <p>{{task}} </p>
<!--     <input ng-model="task"></li> -->
  </ul>
  <div>
    Add Task: <input ng-model="newTask">
    <button ng-click="addTask(newTask)">Add Task</button>
  </div>
  </div>
</div>